/* .footer {
  color: red;
  position: absolute;
  bottom: 0px;
  display: block;
  width: 100vw;
  padding: 5px;
  justify-content: center;
  align-items: center;
  margin-top: 50px;

  border-style: solid;
  border-color: red;
  border-width: 5px;
}

.external-link {
  padding-right: 20px;
} */