.cocktails_background {
  background-image: 
    url(https://www.lifesavvy.com/p/uploads/2020/07/e0441e10.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100%;
  background-attachment: fixed;
  height: calc(100vh - 55px);
  width: 100%;
}

.cocktails_title{
  border-style: solid;
  border-color: blue;
  border-width: 5px;
  color: #D8D8D8;
  text-decoration: underline;
  margin-top: 10vh;
}

.cocktails_list, .cocktails_title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cocktail_link {
  color: #D8D8D8;
  text-decoration: none;
  /* position: center;
  display: inline-block; */
}

.cocktail_link:hover {
  color: rgb(189, 148, 62);
  text-decoration: underline;
}

.cocktail_name{
  border-style: solid;
  border-color: blue;
  border-width: 5px;
}
/* 
  border-style: solid;
  border-color: blue;
  border-width: 5px;
*/