@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@600&display=swap");

.cocktail_create_background {
  background-image: 
    url(https://cdn1.matadornetwork.com/blogs/1/2010/05/Bartender-setting-drink-on-fire-1200x853.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100%;
  background-attachment: fixed;
  height: calc(100vh - 55px);
  width: 100%;
}

input{
  color:black;
  padding: 10px 10px 10px 10px;
}

.cocktail_create_form {
  position: center;
  text-align: center;
  margin-top: 15vh;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  border-radius: 10px;
  backdrop-filter: blur(8px);
  display: inline-block;
  color: #D8D8D8;
}

.cocktail_create_title {
  font-family: 'Cormorant', serif;
  font-size: 32px;
  color: #D8D8D8;
}

.create_submit_button {
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  background-color: black;
  backdrop-filter: blur(8px);
  border-radius: 4px;
  border-color: rgb(189, 148, 62);
  border-width: 1px;
  border-style:solid;
  color: rgb(189, 148, 62);
  padding: 5px 15px;
}

.create_submit_button:hover {
  color: rgb(255, 206, 81);
  border-color: rgb(255, 206, 81);
}

.cocktail_create_text {
  text-align: center;
}