@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@600&display=swap');

.cocktails_background {
  background-image: 
    url(https://www.lifesavvy.com/p/uploads/2020/07/e0441e10.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100%;
  background-attachment: fixed;
  height: calc(100vh - 55px);
  width: 100%;
}

.cocktails_title{
  color: #D8D8D8;
  text-decoration: underline;
}

.cocktails_list, .cocktails_title {
  font-family: 'Cormorant', serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 40px;
}

.cocktail_link {
  font-family: 'Cormorant', serif;
  color: #D8D8D8;
  text-decoration: none;
}

.cocktail_link:hover {
  color: rgb(189, 148, 62);
  text-decoration: none;
}

.cocktail_name{
  font-family: 'Cormorant', serif;
  font-size: 30px;
  margin-bottom: 0;
}

.cocktail_edit_button {
  margin-right: 15px;
}

.cocktail_delete_button {
  margin-left: 15px;
}