@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@600&family=Roboto:wght@100;300;400&display=swap');

.cocktails_background {
  background-image: 
    url(https://www.lifesavvy.com/p/uploads/2020/07/e0441e10.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100%;
  background-attachment: fixed;
  height: calc(100vh - 55px);
  width: 100%;
  z-index: -2;
}

.cocktails_title{
  color: #D8D8D8;
  text-decoration: underline;
}

.cocktails_list, .cocktails_title {
  font-family: 'Cormorant', serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 40px;
}

.cocktail_link {
  font-family: 'Cormorant', serif;
  color: #D8D8D8;
  text-decoration: none;
}

.cocktail_link:hover {
  color: rgb(189, 148, 62);
  text-decoration: none;
}

.cocktail_name{
  font-family: 'Cormorant', serif;
  font-size: 30px;
  margin-bottom: 0;
}

.cocktail_edit_button {
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  margin-right: 15px;
  background-color: black;
  backdrop-filter: blur(8px);
  border-radius: 4px;
  border-color: rgb(189, 148, 62);
  border-width: 1px;
  border-style:solid;
  color: rgb(189, 148, 62);
  padding: 5px 15px;
}

.cocktail_edit_button:hover {
  color: rgb(255, 206, 81);
  border-color: rgb(255, 206, 81);
}

.cocktail_edit_button:hover {
  color: rgb(255, 206, 81);
  border-color: rgb(255, 206, 81);
}

.cocktail_delete_button {
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  margin-left: 15px;
  background-color: black;
  backdrop-filter: blur(8px);
  border-radius: 4px;
  border-color: rgb(189, 148, 62);
  border-width: 1px;
  border-style:solid;
  color: rgb(189, 148, 62);
  padding: 5px 15px;

}

.cocktail_delete_button:hover {
  color: rgb(255, 206, 81);
  border-color: rgb(255, 206, 81);
}

.cocktails_select_button {
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  background-color: black;
  backdrop-filter: blur(8px);
  border-radius: 4px;
  border-color: rgb(189, 148, 62);
  border-width: 1px;
  border-style:solid;
  color: rgb(189, 148, 62);
  padding: 5px 15px;

}

.cocktails_select_button:hover {
  color: rgb(255, 206, 81);
  border-color: rgb(255, 206, 81);
}