@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@600&display=swap');

.ingredient_background {
  background-image: 
    url(https://img.grouponcdn.com/deal/4XiTkN7Ue7wKskFmmraYA1uYpKWR/4X-2048x1229/v1/c870x524.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100%;
  background-attachment: fixed;
  width: 100%;
}

.ingredient_title {
  font-family: 'Cormorant', serif;
  font-size: 40px;
  color: #D8D8D8;
  text-decoration: underline;
  margin-top: 40px;
}

.ingredient_id {
  font-family: 'Cormorant', serif;
  font-size: 24px;
  color: #D8D8D8;
}

@media only screen and (max-width: 600px) {
  .ingredient_background{
    background-position: center;
  }

  .ingredient_title {
    font-size: 30px;
    color: #D8D8D8;
    text-decoration: underline;
    margin-top: 0px;
    margin-bottom: 15px;
  }

  .ingredient_id {
    margin-top: 0px;
    margin-bottom: 20px;
  }
}

