.layout{
  border-style: solid;
  border-color: red;
  border-width: 5px;
}

/* html, body {
  overflow: hidden;
} */

.header {
  border-style: solid;
  border-color: red;
  border-width: 5px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  z-index: 10;
  width: 100%;
  right: 0;
  left: 0

}

.title {
  border-style: solid;
  border-color: red;
  border-width: 5px;
  /* text-align: left; */
  color: #D8D8D8;
  margin-bottom: 0%;
}

.title:hover {
  color: rgb(189, 148, 62);
}

.title_route {
  color: #D8D8D8;
  text-decoration: none;
}

.username_signout {
  border-style: solid;
  border-color: red;
  border-width: 5px;
}

.username {
  border-style: solid;
  border-color: red;
  border-width: 5px;
  color: #D8D8D8;
}

.sign_out_button{
  border-style: solid;
  border-color: red;
  border-width: 5px;
}

.sign_in_button{
  border-style: solid;
  border-color: red;
  border-width: 5px;
  color: #D8D8D8;
  margin-bottom: 0%;
  text-decoration: none;
}

.nav {
    border-style: solid;
    border-color: red;
    border-width: 5px;
}

.cocktails_button{
  border-style: solid;
  border-color: red;
  border-width: 5px;
  text-decoration: none;
  color: #D8D8D8;
}

.cocktails_button:hover {
  color: rgb(189, 148, 62);
  text-decoration: underline;
}

.ingredients_button{
  border-style: solid;
  border-color: red;
  border-width: 5px;
  text-decoration: none;
  color: #D8D8D8;
}

.ingredients_button:hover {
  color: rgb(189, 148, 62);
  text-decoration: underline;
}