@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@600&display=swap');

.layout{
  border-style: solid;
  border-color: red;
  border-width: 5px;
}

.header { 
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  /* z-index: 10; */
  position: relative;
  width: 100%;
  padding: 20px 0;
}

.title {
  font-family: 'Cormorant', serif;
  font-size: 36;
  border-style: solid;
  border-color: red;
  border-width: 5px;
  color: #D8D8D8;
  margin-bottom: 0%;
}

.title:hover {
  color: rgb(189, 148, 62);
}

.title_route {
  color: #D8D8D8;
  text-decoration: none;
}

.username_signout {
  border-style: solid;
  border-color: red;
  border-width: 5px;
}

.username {
  border-style: solid;
  border-color: red;
  border-width: 5px;

  font-family: 'Cormorant', serif;
  font-size: 36;
  margin-bottom: 0;
  color: #D8D8D8;
}

.sign_out_button{
  border-style: solid;
  border-color: red;
  border-width: 5px;
}

.sign_in_button{
  border-style: solid;
  border-color: red;
  border-width: 5px;
  color: #D8D8D8;
  margin-bottom: 0%;
  text-decoration: none;
}

.nav {
    border-style: solid;
    border-color: red;
    border-width: 5px;
}

.cocktails_button{
  font-family: 'Cormorant', serif;
  font-size: 15px;
  border-style: solid;
  border-color: red;
  border-width: 5px;
  text-decoration: none;
  color: #D8D8D8;
}

.cocktails_button:hover {
  color: rgb(189, 148, 62);
}

.ingredients_button{
  font-family: 'Cormorant', serif;
  font-size: 15px;
  border-style: solid;
  border-color: red;
  border-width: 5px;
  text-decoration: none;
  color: #D8D8D8;
}

.ingredients_button:hover {
  color: rgb(189, 148, 62);
}